
<div style="padding: 20%;">
<h2>Log in</h2>  
<form >
<div class="form-control">
  <label for="exampleInputEmail1">Email address</label>
  <input [formControl]="email" type="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
</div>
<!-- " -->
<br>
<div class="form-control">
  <label [formControl]="password" for="exampleInputPassword1">Password</label>
  <input  type="password" id="exampleInputPassword1" placeholder="Password">
  <!--  -->
</div>
<br>
<button type="submit" class="btn btn-primary">Submit</button>
</form></div>